.demo {
	display: flex;
	flex-direction: column;
	gap: calc(35px + 65 * ((100vw - 360px) / (1920 - 360)));
}
.demo__field {
	display: flex;
	flex-wrap: wrap;
	gap: calc(25px + 15 * ((100vw - 360px) / (1920 - 360)));
}
.demo__field h2 {
	flex: 0 0 100%;
}
.demo__block {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.demo__title {
	font-weight: 700;
	font-size: calc(18px + 6 * ((100vw - 360px) / (1920 - 360)));
	margin: 0 0 20px 0;
}
.demo__code {
	margin: 0 0 10px;
	flex: 1 1 auto;
}
.demo__copy {
	width: 100%;
}
.demo__image {
	border: 2px solid #FFFFFF;
	width: 100%;
}
.demo__image img {
	width: 100%;
}
h1, h2, h3, h4 {
	margin: 0;
}
.demo>h1 {
	margin: 0 0 calc(0px - 60 * ((100vw - 360px) / (1920 - 360))) 0;
}


h1 {
	font-size: calc(28px + 20 * ((100vw - 360px) / (1920 - 360)));
}
h2 {
	font-size: calc(24px + 13 * ((100vw - 360px) / (1920 - 360)));
}
h3 {
	font-size: calc(21px + 7 * ((100vw - 360px) / (1920 - 360)));
}
h4 {
	font-size: calc(18px + 3 * ((100vw - 360px) / (1920 - 360)));
}

.wrapper {
	padding: calc(20px + 30 * ((100vw - 360px) / (1920 - 360)));
}

@media (max-width: 360px) {
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 21px;
	}
	h4 {
		font-size: 18px;
	}
	.wrapper {
		padding: 20px;
	}
	.demo {
		gap: 35px;
	}
	.demo>h1 {
		margin: 0;
	}
	.demo__field {
		gap: 25px;
	}
	.demo__title {
		font-size: 18px;
	}
}